# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/

# Archivos de logs
*.log

# Configuración local de VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de pruebas o backups
*.bak

# Archivos generados por Jupyter notebooks (si usás)
.ipynb_checkpoints/

# Archivos de cobertura de tests
.coverage
htmlcov/

# Archivos de configuración local de PyCharm (si usás)
.idea/

